body {
	margin: 0;
}

.page {
	margin: 0 auto;
	max-width: 855px;
}

.logo {
	width: 340px;
	height: 28px;
	object-fit: contain;
	text-align: center;
	margin: 42px auto 0;
}

.logo {
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzNDAiIGhlaWdodD0iMjgiIHZpZXdCb3g9IjAgMCAzNDAgMjgiPiAgICA8ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPiAgICAgICAgPHBhdGggZmlsbD0iI0ZGNTQwMCIgZD0iTTE3Ni45NjUgMjIuOTgzaDQyLjAyOFYyOGgtNDcuMjIyVjExLjJoNDcuMjIydjUuMTMzaC00Mi4wMjh2Ni42NXpNMTcxLjc3MSAwaDQ3LjIyMnY1LjAxN2gtNDcuMjIyVjB6TTY0LjQ1OCAxNi4zMzNWMjhoLTUuNDNWMTEuMzE3aDQxLjc5MXYtNi4zSDU5LjAyOFYwSDEwNi4yNXYyOGgtNS40M1YxNi4zMzNINjQuNDU3ek0xMjMuMTk0IDB2MjIuODY3aDM4LjU0MlYyOGgtNDMuNjhWMGg1LjEzOHpNNDIuMTQ2IDIyLjk4M3YtNi42NUgwVjBoNDcuMjIydjUuMDE3SDUuMDc2djYuM2g0Mi4xNDZWMjhIMHYtNS4wMTdoNDIuMTQ2eiIvPiAgICAgICAgPHBhdGggZmlsbD0iIzhBOEE4QSIgZD0iTTIzNS45OTMgMjIuOTgzaDQyLjAyOFYyOGgtNDcuMjIyVjExLjJoNDcuMjIydjUuMTMzaC00Mi4wMjh2Ni42NXpNMjMwLjggMGg0Ny4yMjJ2NS4wMTdoLTQ3LjIyMlYwem0xMDcuNDMgMHYxNi4zMzNoLTE3LjkwNUwzMzkuNDEgMjhoLTEwLjI3MWwtMTkuMDktMTEuNjY3aC0xNC43OTJWMjhoLTUuNDNWMTEuMzE3aDQzLjA5di02LjNoLTQzLjA5VjBoNDguNDAyeiIvPiAgICA8L2c+PC9zdmc+) no-repeat;
}

.title {
	width: 855px;
	height: 61px;
	font-family: Montserrat;
	font-size: 50px;
	font-weight: 600;
	letter-spacing: 0;
	text-align: center;
	color: #3e2854;
	margin: 116px auto 0;
}

.description {
	width: 513px;
	height: 72px;
	font-family: OpenSans;
	font-size: 24px;
	line-height: 1.5;
	letter-spacing: 0;
	text-align: center;
	color: #62656c;
	margin: 39px auto 0;
}

button.openInTelegram {
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	border: none;
	display: block;
	color: #ffffff;
	padding: 18px 28px;
	margin: 0 auto;
	max-width: 284px;
	font-size: 18px;
	background: -webkit-gradient(linear, left top, right top, from(#ff3541), to(#fe9926));
	background: -webkit-linear-gradient(left, #ff3541, #fe9926);
	background: linear-gradient(90deg, #ff3541, #fe9926);
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
	-webkit-box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.14);
	box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.14);
	z-index: 1;
	border-radius: 4px;
}

button.openInTelegram:before {
	content: '';
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="26" height="22" viewBox="0 0 26 22">
    <path fill="#FFF" fill-rule="evenodd" d="M13.43 16.658c-.968.935-1.925 1.854-2.875 2.782-.332.324-.706.503-1.182.478-.324-.018-.506-.16-.606-.467-.726-2.241-1.465-4.479-2.189-6.72-.07-.22-.176-.324-.397-.391a515.43 515.43 0 0 1-5.132-1.59 2.928 2.928 0 0 1-.729-.327c-.381-.251-.436-.65-.087-.94a4.07 4.07 0 0 1 1.095-.646c2.166-.85 4.342-1.672 6.514-2.505C13.068 4.33 18.294 2.328 23.52.324c1.001-.384 1.78.149 1.686 1.221-.062.707-.247 1.405-.396 2.103-1.158 5.432-2.32 10.863-3.482 16.295l-.005.032c-.284 1.242-1.193 1.582-2.23.824-1.8-1.315-3.595-2.635-5.393-3.953-.085-.063-.173-.121-.27-.188zm-3.976 1.71c.028-.127.047-.186.053-.246.114-1.222.233-2.443.334-3.665.023-.272.104-.472.316-.66 2.728-2.431 5.447-4.871 8.168-7.31.774-.693 1.552-1.383 2.318-2.084.08-.074.098-.215.145-.325-.118-.034-.251-.118-.352-.09-.234.065-.47.157-.674.285-4.047 2.527-8.088 5.061-12.134 7.588-.206.128-.265.234-.182.48.64 1.911 1.263 3.828 1.892 5.743.024.075.059.147.116.284z"/>
</svg>') no-repeat;
	width: 25.2px;
	height: 21px;
	object-fit: contain;
	background-color: #ffffff;
	margin-right: 10px;
	display: inline-block;
}
