.body {
	margin: 0;
	text-align: center;
}

.logo {
	width: 340px;
	height: 28px;
	object-fit: contain;
	text-align: center;
}

.logo {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzNDAiIGhlaWdodD0iMjgiIHZpZXdCb3g9IjAgMCAzNDAgMjgiPiAgICA8ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPiAgICAgICAgPHBhdGggZmlsbD0iI0ZGNTQwMCIgZD0iTTE3Ni45NjUgMjIuOTgzaDQyLjAyOFYyOGgtNDcuMjIyVjExLjJoNDcuMjIydjUuMTMzaC00Mi4wMjh2Ni42NXpNMTcxLjc3MSAwaDQ3LjIyMnY1LjAxN2gtNDcuMjIyVjB6TTY0LjQ1OCAxNi4zMzNWMjhoLTUuNDNWMTEuMzE3aDQxLjc5MXYtNi4zSDU5LjAyOFYwSDEwNi4yNXYyOGgtNS40M1YxNi4zMzNINjQuNDU3ek0xMjMuMTk0IDB2MjIuODY3aDM4LjU0MlYyOGgtNDMuNjhWMGg1LjEzOHpNNDIuMTQ2IDIyLjk4M3YtNi42NUgwVjBoNDcuMjIydjUuMDE3SDUuMDc2djYuM2g0Mi4xNDZWMjhIMHYtNS4wMTdoNDIuMTQ2eiIvPiAgICAgICAgPHBhdGggZmlsbD0iIzhBOEE4QSIgZD0iTTIzNS45OTMgMjIuOTgzaDQyLjAyOFYyOGgtNDcuMjIyVjExLjJoNDcuMjIydjUuMTMzaC00Mi4wMjh2Ni42NXpNMjMwLjggMGg0Ny4yMjJ2NS4wMTdoLTQ3LjIyMlYwem0xMDcuNDMgMHYxNi4zMzNoLTE3LjkwNUwzMzkuNDEgMjhoLTEwLjI3MWwtMTkuMDktMTEuNjY3aC0xNC43OTJWMjhoLTUuNDNWMTEuMzE3aDQzLjA5di02LjNoLTQzLjA5VjBoNDguNDAyeiIvPiAgICA8L2c+PC9zdmc+);
}

.title {
	width: 855px;
	height: 61px;
	font-family: Montserrat;
	font-size: 50px;
	font-weight: 600;
	letter-spacing: 0;
	text-align: center;
	color: #3e2854;
}

.description {
	width: 513px;
	height: 72px;
	font-family: OpenSans;
	font-size: 24px;
	line-height: 1.5;
	letter-spacing: 0;
	text-align: center;
	color: #62656c;
}
